.App {
  text-align: center;
  display: flex; 
  align-items: center;
  flex-direction: column; 
}
.input{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 30px auto;
}
.Btn{
  margin-top: 10px;
}
